body{
    background-color: rgb(161, 161, 161);
}

#borda{
    height: 730px;
    width: 400px;
    background-color: black;
    transform: translateX(150%);
    border-radius: 10%;
    margin-top: 20px;
    box-shadow: 20px 20px 20px rgb(44, 44, 44);
}

#tela{
    height: 710px;
    width: 380px;
    background-color: rgb(71, 71, 71);
    transform: translateY(1.5%);
    border-radius: 10%;
    margin-left: 10px;
}

#camera{
    height: 40px;
    width: 150px;
    background-color: black;
    margin-left: 100px;
    transform: translateY(-160px);
    border-radius: 0% 0% 15% 15%;
}

#barrasuperior{
    height: 2.5px;
    width: 98px;
    background-color: rgb(63, 63, 63);
    columns: 1;
    transform: translateY(21px);
    margin-left: 14px;
}

#buraco{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(63, 63, 63);
    transform: translateY(15px);
    margin-left: 120px;
    columns: 1;
}

#barra{
    height: 2.5px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    transform: translateY(200px);
    margin-left: 75px;
    border-radius: 15%;
}
#formulario{
    background-color: rgb(255, 255, 255);
    transform: translateY(150px);
    width: 350px;
    margin-left: 15px;
    border-radius: 10% 25% 10% 25% ;
}
p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.email{
    margin-left: 5%;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Botão{
    width: 50%;
    color: white;
    background-color: rgb(12, 12, 255);
    border-radius: 5% 5% 5% 5%;
    border-color: rgb(12, 12, 255);
    margin-left: 25%;
}
h1{
    margin-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }